Source: shubhctl
Standards-Version: 0.0.0
Maintainer: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
Section: utils
Priority: optional
Homepage: https://github.com/ShubhamTatvamasi/shubhctl
XS-Go-Import-Path: github.com/ShubhamTatvamasi/shubhctl
Build-Depends: debhelper-compat (= 12),
  golang-any,
  dh-golang,

Package: shubhctl
Architecture: any
Description: a simple cli tool
